@page
<<<<<<< Updated upstream
@model AboutModel
@{
    ViewData["Title"] = "О приложении";
}
<h1>@ViewData["Title"]</h1>

<p>Студент: Ложечников Максим, ПС-31</p>
=======
@model Valuator.Pages.About

@{
    ViewData["Title"] = "О приложении";
    Layout = null;
}

<h1>@ViewData["Title"]</h1>

<p>Студент: Ложечников Максим ПС-31</p>
>>>>>>> Stashed changes
