@page
<<<<<<< Updated upstream
@model Valuator.Pages.SummaryModel
@{
}
<p>Оценка содержания: @Model.Rank</p>
<p>Плагиат: @Model.Similarity</p>
=======
@model Valuator.Pages.Summary
@{
    ViewData["Title"] = "Summary";
}
<p>Оценка содержания: @Model.Rank</p>

<p>Плагиат: @Model.Similarity</p>
>>>>>>> Stashed changes
